@import 'variables';
@import 'mixins';

html {
    @include box-sizing(border-box);
}

*,
*:before,
*:after {
    @include box-sizing(inherit);
}

body {
    font-family: $fuente_principal;
}
.contenedor {
    max-width: 1100px;
    margin: 0 auto;
}

.oculto {
    display: none;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        padding: 1.4rem 0;
    }
}

.carrito-compras {
    position: relative;
    &:hover .contenido {
        display: block;
        position: absolute;
        right: 0;
        background-color: $gris;
        padding: 1rem;
        max-width: 400px;

        img {
            max-width: 150px;
        }
        .boton {
            @include boton($principal);
        }
    }
}

.hero {
    @include background-image('	../img/hero.jpg');
    min-height: 24rem;
    display: flex;
    background-size: cover;

    .contenido-hero {
        flex: 1;
        h2 {
            font-weight: 400;
            font-size: 2.4rem;
        }

        p {
            font-size: 1.2rem;
        }
        form {
            position: relative;

            @include tablet() {
                width: 40%;
            }
            input[type='submit'] {
                position: absolute;
                right: 0;
                top: 0;
                @include background-image('	../img/lupa.png');
                width: 3rem;
                height: 3rem;
                display: block;
                text-indent: 999999999px;
                border: none;
                cursor: pointer;
            }
            input[type='text'] {
                width: 100%;
                height: 3rem;
            }
        }
    }
}
